<!DOCTYPE html>
<meta charset="utf-8">
<script src="https://d3js.org/d3.v3.min.js"></script>

<head>
   <h1 align="center"><u> SNOTRA</u></h1>
</head>

<style>
text {
  font: 10px sans-serif;
}
button{
  font: 10px sans-serif;
    
}

rect.background {
  fill: white;
  stroke: #646464;
  stroke-width: 1px;
  stroke-dasharray: 2,2;
  stroke-linejoin: round;
}
.axis {
  shape-rendering: crispEdges;
}
.axis path,
.axis line {
  fill: none;
  stroke: #000;
}
.left-div {
  float:left;
  height: 520px;
  width: 750px;
  
}
.right-div {
  float:right;
  height: 520px;
  width: 750px;
  
}
.form_usercss {
  position: relative;
  left: 58px;
  bottom: -20px;
}
.form_bookscss {
  position: absolute;
  left: 100px;
  bottom: 0px;
}

</style>
<!-- define the form here -->

<div class= "form_usercss" id="form_user">
<form method="post" onSubmit="showCountry()">
    <input type="number" name="UserId" placeholder="Enter User Id" >
    <input type="submit" value="Submit User Id" >
</form>
</div>

<div class= "form_bookscss" id="form_book">
<form method="post" onSubmit="showCountry()">
    <input type="number" name="Rating1"  placeholder="Enter Rating" > &emsp;&emsp;&emsp;&emsp;&emsp;
    <input type="number" name="Rating2"  placeholder="Enter Rating" > &emsp;&emsp;&emsp;&emsp;&emsp;
    <input type="number" name="Rating3"  placeholder="Enter Rating" > &emsp;&emsp;&emsp;&emsp;&emsp;
    <input type="number" name="Rating4"  placeholder="Enter Rating" > &emsp;&emsp;&emsp;&emsp;&emsp;
    <input type="number" name="Rating5"  placeholder="Enter Rating" > &emsp;&emsp;&emsp;&emsp;&emsp;
  <br><br><br><br><br><br><br><br><br><br>  
    <input type="number" name="Rating6"  placeholder="Enter Rating" > &emsp;&emsp;&emsp;&emsp;&emsp;
    <input type="number" name="Rating7"  placeholder="Enter Rating" > &emsp;&emsp;&emsp;&emsp;&emsp;
    <input type="number" name="Rating8"  placeholder="Enter Rating" > &emsp;&emsp;&emsp;&emsp;&emsp;
    <input type="number" name="Rating9"  placeholder="Enter Rating" > &emsp;&emsp;&emsp;&emsp;&emsp;
    <input type="number" name="Rating10"  placeholder="Enter Rating" > &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;   
    <input type="submit" value="Submit Ratings" >
</form>
</div>

<body>
<script type="text/javascript">

    var w = 1000;
    var h = 300;
    var cellPadding = 10;
    var margin = 300;
    var padding = 30;

    //Create SVG element      
    //this is where magic happens
    var svg = d3.select("body")
      .append("svg")
      .attr("width", w + margin)
      .attr("height", h + margin);
              
    d3.json("/get-data", function(error, data) {
      //if (error) throw error;
      console.log("here in d3.json", data);

      books = data.children;
      books_data = books[0].children;
      console.log("outside svg", books_data);

      random_books_data = Object.values(data.random_books)  
      console.log("random", random_books_data);

      svg.append("text")
          .attr("x", 6.5*padding)             
          .attr("y", (1.5* padding ))
          .attr("text-anchor", "middle")  
          .style("font-size", "14px") 
          .text("Recommended books for UserID: " + books[0].userID); 

      svg.append("text")
          .attr("x", 6.5*padding)             
          .attr("y", (7.2* padding ))
          .attr("text-anchor", "middle")  
          .style("font-size", "14px") 
          .text("New Users: rate the following books from (1-5): "); 

      var random_books = svg.append("g")
         .attr("class","legend")
         .attr("x", w - padding)
         .attr("y", padding)
         .attr("height", 100)
         .attr("width", 500);

      var random_images = svg.append('g')
         .attr("class","images")         
         .attr("x", 200 )
         .attr("y", 200 )
         .attr("height", 100)
         .attr("width", 500);
   
      //add all images
      random_images.selectAll('image')
         .data(random_books_data)
         .enter()
         .append('image')
         .attr("x", function(d,i){ console.log("here inside", d); return (2*(i%5)*100 + 3.2*padding ); })
         .attr("y", function(d,i) { return h/2  + (parseInt(i/5) * 180)+ 3*padding;})
         .attr("xlink:href", function(d,i) { return d.image_url;})
         .attr("height", 100)
         .attr("width", 100);

      random_images.selectAll('text')
           .data(random_books_data)
           .enter()
           .append("text")
           .attr("x", function(d,i){ return (2*(i%5)*100 + 3.2*padding); })
           .attr("y", function(d,i) { return h/2  + (parseInt(i/5) * 180)+ 7*padding})
           .text(function(d,i) { return d.book_name; })
           .attr("class", "textselected")
           .style("text-anchor", "start")
           .style("font-size", 12);           

      random_images.selectAll('author')
           .data(random_books_data)
           .enter()
           .append("text")
           .attr("x", function(d,i){ return (2*(i%5)*100 + 3.2*padding); })
           .attr("y", function(d,i) { return h/2  + (parseInt(i/5) * 180)+ 7.5*padding})
           //todo .text(function(d,i) { return d.author; })
           .text(function(d,i) { return "Author" })
           .attr("class", "textselected")
           .style("text-anchor", "start")
           .style("font-size", 12);           
   
  
      var legend = svg.append("g")
         .attr("class","legend")
         .attr("x", w - padding)
         .attr("y", padding)
         .attr("height", 100)
         .attr("width", 500);
   
      var legend2 = svg.append("g")
         .attr("class","legend")
         .attr("x", w - padding)
         .attr("y", padding)
         .attr("height", 100)
         .attr("width", 500);

      var images = svg.append('g')
         .attr("class","images")         
         .attr("x", 200 )
         .attr("y", 200 )
         .attr("height", 100)
         .attr("width", 500);
   
      //add all images
      images.selectAll('image')
         .data(books_data)
         .enter()
         .append('image')
         .attr("x", function(d,i){ return (2*i*100 + 3.2*padding ); })
         .attr("y", function(d,i) { return h/5 + 0*padding;})
         .attr("xlink:href", function(d,i) { return d.image_url;})
         .attr("height", 100)
         .attr("width", 100);
   
       //create rectangles 
       // legend.selectAll('rect')
       //   .data(books_data)
       //   .enter()
       //   .append("rect")
       //   .attr("x", function(d,i){ return (2*i*100 + 2*padding ); })
       //   .attr("y", function(d,i) { return h/3 + 5*padding;})
       //   .attr("width", 2*100- 2*cellPadding)
       //   .attr("height", 25)
       //   .style("stroke", function(d) { return 'black'; })
       //   .style("fill", function(d) { return 'teal'; })
       
       legend.selectAll('text')
           .data(books_data)
           .enter()
           .append("text")
           .attr("x", function(d,i){ return (2*i*100 + 2*padding + 6*cellPadding); })
           .attr("y", function(d,i) { return h/5 + 4.5*padding;})
           .text(function(d,i) { return "Author" })
           .attr("class", "textselected")
           .style("text-anchor", "start")
           .style("font-size", 12); 

       // legend2.selectAll('rect')
       //     .data(books_data)
       //     .enter()
       //     .append("rect")
       //     .attr("x", function(d,i){ return (2*i*100 + 2*padding ); })
       //     .attr("y", function(d,i) { return h/3 + 6.5*padding;})
       //     .attr("width", 2*100- 2*cellPadding)
       //     .attr("height", 25)
       //     .style("stroke", function(d) { return 'black'; })
       //     .style("fill", function(d) { return 'orange'; })

        legend2.selectAll('text')
           .data(books_data)
           .enter()
           .append("text")
           .attr("x", function(d,i){ return (2*i*100 + 2*padding + 2*cellPadding); })
           .attr("y", function(d,i) { return h/5 + 4*padding;})
           .text(function(d,i) { return d.book_name; })
           .attr("class", "textselected")
           .style("text-anchor", "start")
           .style("font-size", 12);           

         
    });
      
</script>

</body>
</html>